<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Etusivu</title>

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #5f4f66;">
        <a class="navbar-brand" href="/" style="color:cornsilk;">Etusivu</a>
        <ul class="navbar-nav">
        {% if session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/search" style="color:cornsilk;">Etsi korttia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newcard" style="color:cornsilk;">Lisää kortti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:cornsilk;">Kirjaudu ulos</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <form action="/cardedit/send " method="POST" onsubmit="return validate(this)">
        Kortin nimi: <br>
        <input name="cardname" id="cardname" rows="1" cols="50" type="text" value="{{result[0]}}"></input>
        <br>    
            <input type="checkbox" name="twofaced" value="True" {%if result[1]%} checked {%endif%}>
            <label for ="twofaced"> Kaksipuolinen</label>
        <br>
            <b>Värit (kaikki):</b>
        <br>
            <input type="checkbox" name="colour1" value="b" {%if "b" in result[2]%} checked {%endif%}>
            <label for="colour1"> Musta</label>
            <input type="checkbox" name="colour2" value="u" {%if "u" in result[2]%} checked {%endif%}>
            <label for="colour2"> Sininen</label>
            <input type="checkbox" name="colour3" value="g" {%if "g" in result[2]%} checked {%endif%}>
            <label for="colour3"> Vihreä</label>
            <input type="checkbox" name="colour4" value="r" {%if "r" in result[2]%} checked {%endif%}>
            <label for="colour4"> Punainen</label>
            <input type="checkbox" name="colour5" value="w" {%if "w" in result[2]%} checked {%endif%}>
            <label for="colour5"> Valkoinen</label>
        <br>
            Mana value (x on 0):    <input type="number" name="cmc" min="0" max="100" value={{result[3]}}>
        <br>
    
        Harvinaisuus:
        <select name="rarity">
            <option value="common" {%if result[4] == "common" %}selected {%endif%}> Common
            <option value="uncommon" {%if result[4] == "uncommon" %}selected {%endif%}> Uncommon
            <option value="rare" {%if result[4] == "rare" %}selected {%endif%}> Rare
            <option value="mythic" {%if result[4] == "mythic" %}selected {%endif%}> Mythic Rare
        </select>
        <br>
        Power (X ja * ovat 0): <input type="number" name="power" min="0" max="100" value={{result[5]}}>
        <br>
        Toughness (X ja * ovat 0): <input type="number" name="toughness" min="0" max="100" value={{result[6]}}>
        <br>
        {%for folder in libs%}
            <input type="checkbox" name="{{folder[0]}}" value="{{folder[1]}}" {%if folder[1] in connected%} checked {%endif%}>
            <label for="{{folder[0]}}">{{folder[0]}}</label>
        {%endfor%}
        <input type="hidden" name="card" value="{{card}}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <br>
        <input type="submit" value="Lähetä">
    </form> 
    <script>
        window.onload = function() {
            document.getElementById('cardname').value = "{{result[0]}}"
        };

        function validate(form) {
            if (form.cardname.value.length < 2) {
                alert("Lisää kortille nimi, jossa on vähintään 2 kirjainta");
                event.preventDefault();
            }
            else if (form.cmc.value.length < 1) {
                alert("Lisää kortille Mana value");
                event.preventDefault();
            }
            return true
        }
    </script>
</div>