<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Kansio</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #5f4f66;">
        <a class="navbar-brand" href="/" style="color:cornsilk;">Etusivu</a>
        <ul class="navbar-nav">
        {% if session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/search" style="color:cornsilk;">Etsi korttia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newcard" style="color:cornsilk;">Lisää kortti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:cornsilk;">Kirjaudu ulos</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <div class="row">
        <div class="col-8">
            <ul class="list-group list-group-flush">
                {% for card in cards[0]%} 
                    <li class="list-group-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                {{card[1]}}
                            </li>
                            <li class="list-group-item">
                                <form action="/cardedit" method="GET"> 
                                    <input type="hidden" name="card" value="{{card[0]}}"> 
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input class="btn btn-primary" type="submit" value="Muokkaa">
                                </form>
                            </li>
                            <li class="list-group-item">
                                <form action="/delcard" method="GET"> 
                                    <input type="hidden" name="card" value="{{card[0]}}"> 
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input class="btn btn-danger" type="submit" value="Poista" onClick='return usure(event)'> 
                                </form>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <p>
                Korttien keskimääräinen mana-arvo: {{cmcavg}}
            </p>
            <form action="/folder/delete" method="POST">
                <input type="hidden" name="id" value="{{folder}}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input class="btn btn-danger" type="submit" value="Poista kansio" onclick="return usure(event)">
            </form>
        </div>
        <script>
            function usure(event) {
                let text = "Oletko varma, että haluat poistaa?";
                if (confirm(text) == false) {
                    event.preventDefault();
                }
            }
        </script>
    </div>
</div>