<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Kansio</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Etusivu</a>
        <ul class="navbar-nav">
        {% if session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/search">Etsi korttia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newcard">Lisää kortti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Kirjaudu ulos</a>
            </li>
        {% endif %}
        </ul>
    </nav>

    <form action="/folder/delete" method="POST">
        <input type="hidden" name="id" value="{{folder}}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Poista kansio">
    </form>

    <hr>
    <p>
        Korttien keskimääräinen mana-arvo: {{cmcavg}}
    </p>
    {% for card in cards[0]%} 
        {{card[1]}}       
        <form action="/cardedit" method="GET">
            <input type="hidden" name="card" value="{{card[0]}}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Muokkaa">
        </form>
        <form action="/delcard" method="GET">
            <input type="hidden" name="card" value="{{card[0]}}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Poista">
        </form>
        <hr>
    {% endfor %}
</div>