<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Etusivu</title>

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #5f4f66;">
        <a class="navbar-brand" href="/" style="color:cornsilk;">Etusivu</a>
        <ul class="navbar-nav">
        {% if session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/search" style="color:cornsilk;">Etsi korttia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newcard" style="color:cornsilk;">Lisää kortti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:cornsilk;">Kirjaudu ulos</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <br>
    <div class="row">
        {% if session.username %}
            <div class="col-8">
            <h5>Kortit ilman kansiota: {{count}}</h5>
            <hr>
            {% for card in cards[0]%} 
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item flex-fill">
                            {{card[1]}}
                        </li>
                        <li class="list-group-item flex-fill">
                            <form action="/cardedit" method="GET"> 
                                <input type="hidden" name="card" value="{{card[0]}}"> 
                                <input class="btn btn-primary" type="submit" value="Muokkaa"> 
                            </form>
                        </li>
                        <li class="list-group-item flex-fill">
                            <form action="/delcard" method="GET"> 
                                <input type="hidden" name="card" value="{{card[0]}}"> 
                                <input class="btn btn-danger" type="submit" value="Poista" onclick="return usure(event)"> 
                            </form>
                        </li>
                    </ul>
            {% endfor %}
            </div>
            <div class="col-4">
                Luo kansio:
                <form action="/folder/new" method="POST">
                    <input type="text" name="name">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="submit" value="Luo kansio">
                </form>
                <hr>
                <h5>Kansioita: {{number}}</h5>
                <hr>
                {%for folder in folders%}
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        {{folder[0]}}
                    </li>
                    <li class="list-group-item">
                        <form action="/folder" method="GET">
                            <input type="hidden" name="folder" value="{{folder[1]}}">
                            <input type="submit" value="Katso"> 
                        </form>
                    </li>
                </ul>
                {%endfor%}
            </div>

        {% else %}
            <div class="col-6">
                <h3>Kirjaudu:</h3>
                <br>
                {% if failed and failed == 1 %}
                    <body onload="failed()"></body>
                    <script>
                        
                    </script>
                {% endif %}
                <form action="/login" method="POST">
                    <div class="form-group col-8">
                      <label for="inputUsername">Käyttäjätunnus</label>
                      <input type="text" class="form-control" id="inputUsername" name="username">
                    </div>
                    <div class="form-group col-8">
                      <label for="inputPassword">Salasana</label>
                      <input type="password" class="form-control" id="inputPassword" name="password">
                    </div>
                    <div class="form-group col-8">
                      <button type="submit" class="btn btn-primary">Kirjaudu</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <h3>Luo tunnus:</h3>
                <br>
                <form action="/signin" method="POST" onsubmit="return check(this)">
                    <div class="form-group col-8">
                        <label for="inputUsername">Käyttäjätunnus</label>
                        <input type="text" class="form-control" id="inputUsername" name="username">
                    </div>
                    <div class="form-group col-8">
                        <label for="inputPassword">Salasana</label>
                        <input type="password" class="form-control" id="inputPassword" name="password">
                    </div>
                    <div class="form-group col-8">
                        <button type="submit" class="btn btn-primary">Luo tunnukset</button>
                    </div>
                </form>
            </div>
            <br>
            
        {% endif %}
    </div>
    <script>
        function check(form) {
            if (form.username.value.length < 2) {
            alert("Käyttäjätunnus liian lyhyt!");
            return False;
            }
            if (form.username.value.length > 25) {
                alert("Käyttäjätunnus liian pitkä!");
                return False;
            }
            if (form.password.value.length < 2) {
                alert("Käyttäjätunnus liian lyhyt!");
                return False;
            }
            if (form.password.value.length > 25) {
                alert("Käyttäjätunnus liian pitkä!");
                return False;
                }
            return True;
        }
        function failed() {
            alert("Väärä käyttäjätunnus tai salasana!");
        }
        function usure(event) {
            let text = "Oletko varma, että haluat poistaa?";
            if (confirm(text) == false) {
                event.preventDefault();
            }
        }
    </script>
</div>