<!DOCTYPE html>
<title>Etusivu</title>

<h1>Etusivu</h1>
Tervetuloa käyttämään MTG-kirjastoa!
<hr>
{% if session.username %}
    <h3>Kansioita: {{number}}</h3>
    <hr>
    {%for folder in folders%}
        {{folder[0]}}       
        <form action="/folder" method="GET"> <input type="hidden" name="folder" value="{{folder[1]}}"> <input type="submit" value="Katso"> </form>
        <hr>
    {%endfor%}
    <h3>Kortit ilman kansiota: {{count}}</h3>
    <hr>
    {% for card in cards%} 
        {{card[1]}}       
        <form action="/cardedit" method="GET"> <input type="hidden" name="card" value="{{card[0]}}"> <input type="submit" value="Muokkaa"> </form>
        <hr>
    {% endfor %}
    <p>
        <a href="/newcard">Lisää kortti</a>
    </p>
    <p>
        <a href="/logout">Kirjaudu ulos</a>
    </p>

{% else %}
    <h3>Kirjaudu:</h3>
    <form action="/login" method="POST">
        <p>Tunnus:<br>
            <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
    </form>
    <br>
    <h3>Luo tunnus:</h3>
    <p>
        <form action="/signin" method="POST">
            <p>Tunnus:<br>
            <input type="text" name="username"></p>
            <p>Salasana:<br>
            <input type="password" name="password"></p>
            <input type="submit" value="Luo tunnus">
        </form>
    </p>
{% endif %}