<!DOCTYPE html>
{%if msg == 1%}
    <h3>
        Täytä ainakin nimi ja kortin arvo
    </h3>
{%endif%}

<form action="/backsend" method="POST">
    Kortin nimi: <br>
    <textarea name="cardname" rows="1" cols="50"></textarea>
    <br>
        <b>Värit (kaikki):</b>
    <br>
        Mana value (x on 0):    <input type="number" name="cmc" min="0" max="100">
    <br>
    Power (X ja * ovat 0), jätä tyhjäksi jos kortissa ei ole: <input type="number" name="power" min="0" max="100">
    <br>
    Toughness (X ja * ovat 0), jätä tyhjäksi jos kortissa ei ole: <input type="number" name="toughness" min="0" max="100">
    <br>
    <input type="hidden" name="card" value="{{card}}">
    <input type="submit" value="Lähetä">
</form> 