<!DOCTYPE html>
<form action="/cardsend" method="POST">
    Kortin nimi: <br>
    <textarea name="cardname" rows="1" cols="50"></textarea>
    <br>
    <input type="checkbox" name="twofaced" value="yes">
    <label for ="twofaced"> Kaksipuolinen</label>
    <br>
    Värit:
    <br>
    <input type="checkbox" name="colour1" value="b">
    <label for="colour1"> Musta</label>
    <input type="checkbox" name="colour2" value="u">
    <label for="colour2"> Sininen</label>
    <input type="checkbox" name="colour3" value="g">
    <label for="colour3"> Vihreä</label>
    <input type="checkbox" name="colour4" value="r">
    <label for="colour4"> Punainen</label>
    <input type="checkbox" name="colour5" value="w">
    <label for="colour5"> Valkoinen</label>
    <br>
    <input type="submit" value="Lähetä">
</form>