<!DOCTYPE html>
{%if msg == 0%}
    <title>Voi ei!</title>

    <h1>Epäonnistuit</h1>
    <p>
        Väärä käyttäjätunnus tai salasana
    </p>
    <a href="/">Kokeile uudelleen</a>
{%endif%}
{%if msg == 1%}
    <title>Voi ei!</title>

    <h1>Epäonnistuit</h1>
    <p>
        Käyttäjätunnuksen sekä salasanan on oltava vähintään 2 merkkiä ja enintään 25 merkkiä.
    </p>
    <a href="/">Kokeile uudelleen</a>
{%endif%}
{%if msg == 2%}
    <title>Voi ei!</title>
    <h1>Epäonnistuit.</h1>
    <p>
        Kortilla on oltava nimi, setti sekä harvinaisuus, muut voit jättää tyhjiksi.
    </p>
    <a href="/newcard">Kokeile uudelleen</a>
{%endif%}