<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Etusivu</title>

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #5f4f66;">
        <a class="navbar-brand" href="/" style="color:cornsilk;">Etusivu</a>
        <ul class="navbar-nav">
        {% if session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/search" style="color:cornsilk;">Etsi korttia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newcard" style="color:cornsilk;">Lisää kortti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:cornsilk;">Kirjaudu ulos</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <form action="/search" method="GET">
        <div class="mb-3">
            <label for="cardname" class="form-label">Kortin nimi</label>
            <input type="text" name="cardname" id="cardname" class="form-control" rows="1" cols="20"></input>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="twofaced" value="True" {% if twofaced %} checked {% endif%}>
            <label class="form-check-label" for ="twofaced"> Kaksipuolinen</label>
        </div>
        <b>Värit:</b>
        <br>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour1" value="b" {% if colours and  'b' in colours %} checked {% endif%}>
            <label class="form-check-label" for="colour1"> Musta</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour2" value="u" {% if colours and  'u' in colours %} checked {% endif%}>
            <label class="form-check-label" for="colour2"> Sininen</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour3" value="g" {% if colours and  'g' in colours %} checked {% endif%}>
            <label class="form-check-label" for="colour3"> Vihreä</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour4" value="r" {% if colours and  'r' in colours %} checked {% endif%}>
            <label class="form-check-label" for="colour4"> Punainen</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour5" value="w" {% if colours and  'w' in colours %} checked {% endif%}>
            <label class="form-check-label" for="colour5"> Valkoinen</label>
        </div>
        <br>
        Harvinaisuus:
            <select name="rarity" class="form-select" aria-label="Default select example">
                <option value="None" {%if not rarity %} selected {% endif %}> None
                <option value="common" {%if rarity == 'common' %} selected {% endif %}> Common
                <option value="uncommon" {%if rarity == 'uncommon' %} selected {% endif %}> Uncommon
                <option value="rare" {%if rarity == 'rare' %} selected {% endif %}> Rare
                <option value="mythic" {%if rarity == 'mythic' %} selected {% endif %}> Mythic Rare
            </select>
        <br>
            Mana value (X on 0):    
            <select name="iscmc" class="form-select" aria-label="Default select example">
                <option value="==" {% if not cmc or cmc[:2] == '==' %} selected {% endif %}> Tasan
                <option value="<=" {% if cmc and cmc[:2] == '<=' %} selected {% endif %}> Enintään
                <option value=">=" {% if cmc and cmc[:2] == '>=' %} selected {% endif %}> Vähintään
            </select>
            <input type="number" name="cmc" min="0" max="100" {% if cmc %} value="{{cmc[2:]}}" {% endif %}></input>
        <br>
    
        Power (X ja * ovat 0): 
        <select name="ispower" class="form-select" aria-label="Default select example">
            <option value="==" {% if not power or power[:2] == '==' %} selected {% endif %}> Tasan
            <option value="<=" {% if power and power[:2] == '<=' %} selected {% endif %}> Enintään
            <option value=">=" {% if power and power[:2] == '>=' %} selected {% endif %}> Vähintään
        </select>
        <input type="number" name="power" min="0" max="100" {% if power %} value="{{power[2:]}}" {% endif %}></input>
        <br>
        Toughness (X ja * ovat 0): 
        <select name="istoughness" class="form-select" aria-label="Default select example">
            <option value="==" {% if not toughness or toughness[:2] == '==' %} selected {% endif %}> Tasan
            <option value="<=" {% if toughness and toughness[:2] == '<=' %} selected {% endif %}> Enintään
            <option value=">=" {% if toughness and toughness[:2] == '>=' %} selected {% endif %}> Vähintään
        </select>
        <input type="number" name="toughness" min="0" max="100" {% if toughness %} value="{{toughness[2:]}}" {% endif %}></input>
        <br>
        Haku kansiosta:
        <select name="inlib" class="form-select" aria-label="Default select example">
            <option value="None" {% if inlib == 'None' %} selected {% endif %}> All
            {%for folder in libs%}
                <option value="{{folder[1]}}" {% if inlib == folder[1] %} selected {% endif %}>{{folder[0]}}
            {%endfor%}
        </select>
        <input type="hidden" name="libs" value="{{libs}}">
        <br>
        <input type="submit" value="Etsi">
    </form> 

    <h3>Löytyi:</h3>
        <hr>
        {% for card in cards%} 
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    {{card[1]}}
                </li>
                <li class="list-group-item">
                    <form action="/cardedit" method="GET"> 
                        <input type="hidden" name="card" value="{{card[0]}}"> 
                        <input class="btn btn-primary" type="submit" value="Muokkaa"> 
                    </form>
                </li>
                <li class="list-group-item">
                    <form action="/delcard" method="GET"> 
                        <input type="hidden" name="card" value="{{card[0]}}"> 
                        <input class="btn btn-danger" type="submit" value="Poista" onclick="return usure(event)"> 
                    </form>
                </li>
            </ul>
        {% endfor %}
    <script>
        window.onload = function() {
            document.getElementById('cardname').value = "{{cardname}}"
        };
    </script>
</div>