<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Etusivu</title>

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #5f4f66;">
        <a class="navbar-brand" href="/" style="color:cornsilk;">Etusivu</a>
        <ul class="navbar-nav">
        {% if session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/search" style="color:cornsilk;">Etsi korttia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newcard" style="color:cornsilk;">Lisää kortti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:cornsilk;">Kirjaudu ulos</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <form action="/search" method="GET">
        <div class="mb-3">
            <label for="cardname" class="form-label">Kortin nimi</label>
            <input name="cardname" class="form-control" rows="1" cols="20"></textarea>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="twofaced" value="True">
            <label class="form-check-label" for ="twofaced"> Kaksipuolinen</label>
        </div>
        <b>Värit:</b>
        <br>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour1" value="b">
            <label class="form-check-label" for="colour1"> Musta</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour2" value="u">
            <label class="form-check-label" for="colour2"> Sininen</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour3" value="g">
            <label class="form-check-label" for="colour3"> Vihreä</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour4" value="r">
            <label class="form-check-label" for="colour4"> Punainen</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="colour5" value="w">
            <label class="form-check-label" for="colour5"> Valkoinen</label>
        </div>
        <br>
        Harvinaisuus:
            <select name="rarity" class="form-select" aria-label="Default select example">
                <option value="None" selected> None
                <option value="common" > Common
                <option value="uncommon" > Uncommon
                <option value="rare" > Rare
                <option value="mythic" > Mythic Rare
            </select>
        <br>
            Mana value (X on 0):    
            <select name="iscmc" class="form-select" aria-label="Default select example">
                <option value="==" selected> Tasan
                <option value="<="> Enintään
                <option value=">="> Vähintään
            </select>
            <input type="number" name="cmc" min="0" max="100">
        <br>
    
        Power (X ja * ovat 0): 
        <select name="ispower" class="form-select" aria-label="Default select example">
            <option value="==" selected> Tasan
            <option value="<="> Enintään
            <option value=">="> Vähintään
        </select>
        <input type="number" name="power" min="0" max="100">
        <br>
        Toughness (X ja * ovat 0): 
        <select name="istoughness" class="form-select" aria-label="Default select example">
            <option value="==" selected> Tasan
            <option value="<="> Enintään
            <option value=">="> Vähintään
        </select>
        <input type="number" name="toughness" min="0" max="100">
        <br>
        Haku kansiosta:
        <select name="inlib" class="form-select" aria-label="Default select example">
            <option value="None"> All
            {%for folder in libs%}
                <option value="{{folder[1]}}">{{folder[0]}}
            {%endfor%}
        </select>
        <input type="hidden" name="libs" value="{{libs}}">
        <br>
        <input type="submit" value="Etsi">
    </form> 

    <h3>Löytyi:</h3>
        <hr>
        {% for card in cards%} 
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    {{card[1]}}
                </li>
                <li class="list-group-item">
                    <form action="/cardedit" method="GET"> 
                        <input type="hidden" name="card" value="{{card[0]}}"> 
                        <input class="btn btn-primary" type="submit" value="Muokkaa"> 
                    </form>
                </li>
                <li class="list-group-item">
                    <form action="/delcard" method="GET"> 
                        <input type="hidden" name="card" value="{{card[0]}}"> 
                        <input class="btn btn-danger" type="submit" value="Poista" onclick="return usure(event)"> 
                    </form>
                </li>
            </ul>
        {% endfor %}
</div>